--USE [HillHigh1980]
--GO
--/****** Object:  Table [dbo].[Rosters]    Script Date: 1/20/2019 7:47:25 PM 
--DROP TABLE [dbo].[Rosters]
--GO******/
--/****** Object:  Table [dbo].[Rosters]    Script Date: 1/20/2019 7:47:25 PM ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO
--CREATE TABLE [dbo].[Rosters] (
--    [RosterId]  INT            IDENTITY (1, 1) NOT NULL,
--    [FirstName] NVARCHAR (150) NULL,
--    [Middle]    NVARCHAR (150) NULL,
--    [LastName]  NVARCHAR (150) NULL,
--    [Found]     BIT            NOT NULL,
--    [Image]     NVARCHAR (250) NULL,
--    [Caption]   NVARCHAR (150) NULL,
--    [Link]      NVARCHAR (150) NULL,
--    PRIMARY KEY CLUSTERED ([RosterId] ASC)
--) ON [PRIMARY]
--GO

SET IDENTITY_INSERT dbo.Rosters ON
INSERT [dbo].[Rosters] ([RosterId], [FirstName], [Middle], [LastName], [Found], [Image], [Caption], [Link]) VALUES (1, N'Thomas', NULL, N'Adado', 0, N'cm_2_1.jpg', N'Thomas Adado', NULL)
INSERT [dbo].[Rosters] ([RosterId], [FirstName], [Middle], [LastName], [Found], [Image], [Caption], [Link]) VALUES (2, N'Carla', NULL, N'Adams', 0, N'cm_3_1.jpg', N'Carla Adams', NULL)
INSERT [dbo].[Rosters] ([RosterId], [FirstName], [Middle], [LastName], [Found], [Image], [Caption], [Link]) VALUES (3, N'Danny', NULL, N'Adams', 0, N'cm_4_1.jpg', N'Danny Adams', NULL)
GO

SET IDENTITY_INSERT dbo.Rosters OFF
