body {
    padding-top: 54px;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }

    .col-md-6.hideColumn {
        display: none;
    }
}


.btn-orange {
    color: #f8f9fa;
    background-color: #ca5100;
    border-color: #823400;
}
    .btn-orange:hover {
        color: #333;
        background-color: #ca7943;
        border-color: #c04d00;
    }

    .btn-orange:focus, .btn-light.focus {
        box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
    }

    .btn-orange.disabled, .btn-light:disabled {
        color: #212529;
        background-color: #f8f9fa;
        border-color: #f8f9fa;
    }

    .btn-orange:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled).active,
    .show > .btn-light.dropdown-toggle {
        color: #212529;
        background-color: #dae0e5;
        border-color: #d3d9df;
    }

        .btn-orange:not(:disabled):not(.disabled):active:focus, .btn-light:not(:disabled):not(.disabled).active:focus,
        .show > .btn-light.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
        }
.sprite {
    background-image: url("/images/HillHigh1980.png");
    background-repeat: no-repeat;
    list-style: none outside none;
    display: inline-block;
}

.contact-Add {
    vertical-align:middle;
}

.input-group > input {
    border-right: 0px;
}

    .input-group > input + button {
        padding-top: 5px;
        border-top: 1px;
        border-right: 1px;
        border-bottom: 1px;
    }

.sprite.clear-Text.iconWhite {
    background-position: 0px -4px;
    width: 24px;
    height: 24px;
}

.sprite.contact-Edit.iconWhite {
    background-position: -24px 0px;
    width: 32px;
    height: 32px;
}

.sprite.contact-Remove.iconWhite {
    background-position: -56px 0px;
    width: 32px;
    height: 32px;
}

.sprite.contact-Add.iconWhite {
    background-position: -88px 0px;
    width: 32px;
    height: 32px;
}

.sprite.contact-Add.iconBlack {
    background-position: -120px 0px;
    width: 32px;
    height: 32px;
}

.sprite.contact-Remove.iconBlack {
    background-position: -152px 0px;
    width: 32px;
    height: 32px;
}

.sprite.contact-Edit.iconBlack {
    background-position: -184px 0px;
    width: 32px;
    height: 32px;
}

.sprite.clear-Text.iconBlack {
    background-position: -216px -4px;
    width: 24px;
    height: 24px;
}