.sprite {
    background-image: url("../sprite/sp_48/HillHigh1980.png");
    background-repeat: no-repeat;
    list-style: none outside none;
    display: inline-block;
}

.contact-Add {
    line-height: 48px;
}

.input-group > input {
    border-right: 0px;
}

    .input-group > input + button {
        padding-top: 5px;
        border-top: 1px;
        border-right: 1px;
        border-bottom: 1px;
    }


.sprite.clear-Text-White {
    background-position: 0px -12px;
    width: 24px;
    height: 24px;
}
.sprite.contact-Edit.iconWhite {
    background-position: -24px 0px;
    width: 48px;
    height: 48px;
}
.sprite.contact-Remove.iconWhite {
    background-position: -72px 0px;
    width: 48px;
    height: 48px;
}
.sprite.contact-Add.iconWhite {
    background-position: -120px 0px;
    width: 48px;
    height: 48px;
}
.sprite.contact-Add.iconBlack {
    background-position: -168px 0px;
    width: 48px;
    height: 48px;
}
.sprite.contact-Remove.iconBlack {
    background-position: -216px 0px;
    width: 48px;
    height: 48px;
}
.sprite.contact-Edit.iconBlack {
    background-position: -264px 0px;
    width: 48px;
    height: 48px;
}
.sprite.clear-Text.iconBlack {
    background-position: -312px -12px;
    width: 24px;
    height: 24px;
}