.sprite li {
    background-image: url("HillHigh1980.png");
    background-repeat: no-repeat;
    list-style: none outside none;
}

    .sprite li.contact-Remove {
        background-position: 0px 0px;
        width: 128px;
        height: 128px;
    }

    .sprite li.contact-Add {
        background-position: -128px 0px;
        width: 128px;
        height: 128px;
    }

    .sprite li.contact-info {
        background-position: -256px 0px;
        width: 128px;
        height: 128px;
    }

    .sprite li.contact-Edit {
        background-position: -384px 0px;
        width: 128px;
        height: 128px;
    }
