@model IEnumerable<HillHigh1980.Core.Entity.Jut.RosterJut.RosterJut>

@foreach (var roster in Model)
{
    <div class="col-lg-2 col-md-3 col-xs-4">
        <a class="d-block mb-4 h-100 align-content-center" asp-page="./Rosters//Details" asp-route-id="@roster.RosterId">
            <img class="img-fluid img-thumbnail" src="~/images/roster/@roster.Image" alt='@String.Format("{0} {1}",roster.FirstName, roster.LastName)' title='@String.Format("{0} {1}",roster.FirstName, roster.LastName)'>
            @String.Format("{0} {1}", roster.FirstName, roster.LastName)
        </a>
    </div>
}
