@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<!-- Page Content -->
<div class="container">

    <h1 class="my-4 text-center text-lg-left">Hill High School Class 1980</h1>
    <div class="input-group">
        <select id="filterBy" class="custom-select" id="inputGroupSelect01" style="width=" 100px;">
            <option selected>Filter By...</option>
            <option value="1">First Name</option>
            <option value="2">Last Name</option>
        </select>

        <input id="rosterSearch" type="text" class="form-control" placeholder="Search" aria-label="Text input with dropdown button">

        <div class="input-group-append">
            <button id="sortBySelected" class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sort By...</button>
            <div id="sortBy" class="dropdown-menu">
                <a class="dropdown-item" href="#">Sort By...</a>
                <a class="dropdown-item" href="#">Last Name</a>
                <a class="dropdown-item" href="#">First Name</a>
            </div>
        </div>
    </div>

    <div class="row text-center text-lg-left text-hide">

        @foreach (var roster in Model.Roster)
        {
            <div class="col-lg-2 col-md-3 col-xs-4">
                <a class="d-block mb-4 h-100 align-content-center" asp-page="./Rosters//Details" asp-route-id="@roster.RosterId">
                    <img class="img-fluid img-thumbnail" src="~/images/roster/@roster.Image" alt='@String.Format("{0} {1}",roster.FirstName, roster.LastName)' title='@String.Format("{0} {1}",roster.FirstName, roster.LastName)'>
                    @String.Format("{0} {1}", roster.FirstName, roster.LastName)
                </a>
            </div>
        }
    </div>
</div>

@section Scripts {
    <environment include="Development">
        <script src="~/js/Bundles/indexView.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/Bundles/indexView.min.js"></script>
    </environment>
}