@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">
                        Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Roster</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">

    <h1 class="my-4 text-center text-lg-left">Hill High School Class 1980</h1>
    <div class="input-group">
        <select id="filterBy" class="custom-select" id="inputGroupSelect01" style="width="100px;">
            <option selected>Filter By...</option>
            <option value="1">First Name</option>
            <option value="2">Last Name</option>
            <option value="3">Found</option>
            <option value="3">Missing</option>
        </select>

        <input type="text" class="form-control" placeholder="Search" aria-label="Text input with dropdown button">

        <div class="input-group-append">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sort By...</button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Last Name</a>
                <a class="dropdown-item" href="#">First Name</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <div role="separator" class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
            </div>
        </div>
    </div>

    <div class="row text-center text-lg-left text-hide">

        @foreach (var roster in Model.Roster)
        {
            <div class="col-lg-2 col-md-3 col-xs-4">
                <a class="d-block mb-4 h-100 align-content-center" asp-page="./Rosters//Details" asp-route-id="@roster.RosterId">
                    <img class="img-fluid img-thumbnail" src="~/images/roster/@roster.Image" alt='@String.Format("{0} {1}",roster.FirstName, roster.LastName)' title='@String.Format("{0} {1}",roster.FirstName, roster.LastName)'>
                    @String.Format("{0} {1}", roster.FirstName, roster.LastName)
                </a>
            </div>
        }
    </div>

</div>
