<!DOCTYPE html>
<html>
<head>
    @*AIzaSyBaQmYTPMnIjMwwdOrMpSAbqObfASrJXJY*@
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Join Hill High Class 1980 website. Reconnect with high school friends and schedule meetups with other classmates.">
    <meta name="robots" content="noodp,noydir" />
    <meta name="keywords" content="Hill High School, Harry Hill High, class 1980, Lansing, Michigan, classmates, graduates, students, alumni, high schools, communities, high school alumni, high school class reunions, high school homecoming, find classmates, old friends, reunions, graduates, alumna, alumnae, alumnus, registry, directory, classmates, grads, graduation, secondary schools, military unit, nostalgia, yearbook, yearbooks" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta name="msvalidate.01" content="78C2ACB2F55638AC1E5002535572248A" />
    <meta name="google-site-verification" content="IgXkiCsf6Sq_N5PFTeM8pj_xC589UYWYgVEF1eIU8BA" />
    <link rel="shortcut icon" href="~/favicon.ico">

    <title>@ViewData["Title"] - Hill High Graduation Class 1980</title>

    <link href="~/css/Bundles/library.css" rel="stylesheet" />
    <environment include="Development">
        <link href="~/css/Bundles/application.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="~/css/Bundles/application.min.css" rel="stylesheet" />
    </environment>
</head>
<body>
    <main class="container-fluid body-content">
        @RenderBody()
    </main>

    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Hill High School Class 1980</p>
        </div>
    </footer>

    <script src="~/js/Bundles/Library.js"></script>

    <environment include="Development">
        <script src="~/js/Bundles/application.js"></script>
        <script src="~/js/Bundles/entity.js"></script>
        <script src="~/js/Bundles/core.js"></script>
        <script src="~/js/Bundles/infrastructure.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/Bundles/application.min.js"></script>
        <script src="~/js/Bundles/entity.min.js"></script>
        <script src="~/js/Bundles/core.min.js"></script>
        <script src="~/js/Bundles/infrastructure.min.js"></script>
    </environment>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-135617834-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-135617834-1');
    </script>

    @RenderSection("Scripts", required: false)

</body>
</html>
