<!DOCTYPE html>
<html>
<head>
    @*AIzaSyBaQmYTPMnIjMwwdOrMpSAbqObfASrJXJY*@
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Join Hill High Class 1980 website. Reconnect with high school friends and schedule meetups with known classmates.">
    <meta name="robots" content="noodp,noydir" />
    <meta name="keywords" content="Hill High School, Harry Hill High, class 1980, classmates, graduates, students, alumni, high schools, communities, high school alumni, high school class reunions, high school homecoming, find classmates, old friends, reunions, graduates, alumna, alumnae, alumnus, registry, directory, classmates, grads, graduation, secondary schools, veterans, military buddies, military personnel, military reunions, WW2 veterans, Korean War veterans, Viet Nam veterans, Vietnam veterans, military unit, nostalgia, yearbook, yearbooks" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />

    <link rel="shortcut icon" href="~/favicon.ico">

    <title>@ViewData["Title"] - Hill High Graduation Class 1980</title>

    <link href="~/css/Bundles/library.css" rel="stylesheet" />
    <environment include="Development">
        <link href="~/css/Bundles/application.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="~/css/Bundles/application.min.css" rel="stylesheet" />
    </environment>
</head>
<body>
    <div class="container-fluid body-content">
        @RenderBody()
    </div>

    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Hill High School Class 1980</p>
        </div>
    </footer>

    <script src="~/js/Bundles/Library.js"></script>

    <environment include="Development">
        <script src="~/js/Bundles/application.js"></script>
        <script src="~/js/Bundles/entity.js"></script>
        <script src="~/js/Bundles/core.js"></script>
        <script src="~/js/Bundles/infrastructure.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/Bundles/application.min.js"></script>
        <script src="~/js/Bundles/entity.min.js"></script>
        <script src="~/js/Bundles/core.min.js"></script>
        <script src="~/js/Bundles/infrastructure.min.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
