@using Microsoft.AspNetCore.Identity
@using HillHigh1980.Infrastructure.Data
@inject SignInManager<HillHigh1980SecurityUser> SignInManager
@inject UserManager<HillHigh1980SecurityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index")" asp-antiforgery="true" method="post" id="logoutForm" class="navbar-right">
        <div class="form-row align-items-center">
            <div class="col-auto">
                @{
                    string[] name = UserManager.GetUserName(User).Split('@');

                }
                <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @String.Format("{0}", name[0])!</a>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-link navbar-btn nav-link text-light">Logout</button>
            </div>
        </div>
    </form>
}
else
{
    <form>
        <div class="form-row align-items-center">
            <div class="col-auto">
                <a class="nav-link text-light" asp-page="/Account/Register">Register</a>
            </div>
            <div class="col-auto">
                <a class="nav-link text-light" asp-page="/Account/Login">Login</a>
            </div>
        </div>
    </form>
}
