@using Microsoft.AspNetCore.Identity
@using HillHigh1980.Infrastructure.Data
@inject SignInManager<HillHigh1980SecurityUser> SignInManager
@inject UserManager<HillHigh1980SecurityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index")" asp-antiforgery="true" method="post" id="logoutForm" class="navbar-right">
        @{
            string[] name = UserManager.GetUserName(User).Split('@');

        }
        <div class="input-group">
            <a class="nav-link text-light d-inline-block" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @String.Format("{0}", name[0])!</a>
            <button type="submit" class="btn btn-link text-light input-group-append">Logout</button>
        </div>
    </form>
}
else
{
    <a class="nav-link text-light" asp-page="/Account/Register">Register</a>
    <a class="nav-link text-light" asp-page="/Account/Login">Login</a>
}
