@using Microsoft.AspNetCore.Identity
@using HillHigh1980.Infrastructure.Data
@inject SignInManager<HillHigh1980SecurityUser> SignInManager
@inject UserManager<HillHigh1980SecurityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })" asp-antiforgery="true" method="post" id="logoutForm" class="navbar-right">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item text-right">
                @{ 
                    string[] name = UserManager.GetUserName(User).Split('@');

                }
                <a  class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @String.Format("{0}",name[0])!</a>
            </li>
            <li class="nav-item text-right">
                <button type="submit" class="btn btn-link navbar-btn nav-link">Logout</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="navbar-nav ml-auto">
        <li class="nav-item text-right">
            <a class="nav-link" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item text-right">
            <a  class="nav-link" asp-page="/Account/Login">Login</a>
        </li>
    </ul>
}
